<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

  
</head>
<body>
    <p>Hello,</p>
   <p>You have a new contact request</p>
 <p>These are the details that you have entered </p>
 <ul>  
<li>Name: {{name}}</li>
 <li>company: {{company}}</li>
 <li>Email: {{email}}</li>
<li>Phone: {{Phone}}</li>
 </ul>

 <p>If you are already a user, you can ignore this email.</p>
 <p>Thanks,</p>
 <p>Your  {{company}} team</p>
 <br/>
 <a href="https://www.qries.com/">
         <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
         width=150" height"=70>
</a>
 
    
</body>
</html>